.current_status
  %strong Current Status:
  #{@current_status}

.status_message_history
  %strong Status Message History:
  - @status_message_history.each do |status_message|
    %p
      At:
      = status_message.timestamp
      %br/
      Message:
      = status_message.message
